:root {
    --lightgray: #e0e0e0;
    --gray: #C0C0C0;
    --darkgray: #333;
    --navy: #17050F;
    --white: #fff;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    color: var(--navy);
    background-color: var(--white);
}

.logo img {
    height: 60px;
}

.bg-navy {
    background-color: #021832;
}