---
layout: layouts/base
---
<h1 class="text-3xl mb-4">About the charity</h1>

<h2 class="text-2xl mb-3">Mission</h2>

<p class="mb-2">The objects of the charity are:</p>

<ol class="list-decimal list-outside m-4 pl-4">
  <li class="leading-relaxed">to encourage resilience, efficiency and esprit de corps within the Naval Service as a whole through best practice in Naval Chaplaincy;</li>
  <li class="leading-relaxed">to enable Royal Navy chaplains in future operations to draw on the knowledge of those who have gone before in supporting the welfare and morale of the Royal Navy and Royal Marines during and after their service;</li>
  <li class="leading-relaxed">to advance amongst the public the culture and heritage of chaplaincy within the Naval Service;</li>
  <li class="leading-relaxed">to advance the education of the public in the subject of the history of Royal Navy Chaplaincy;</li>
</ol>

<h2 class="text-2xl mb-3">Trustees</h2>

<p class="mb-2">Front Line Naval Chaplains is run and managed by:</p>

<ul class="list-disc list-outside m-4 pl-4">
  <li>Revd Simon Springett RN</li>
  <li>Mr John Spurr</li>
  <li>Mr Paul Springett</li>
</ul>

<h2 class="text-2xl mb-3">Supporters</h2>