---
layout: layouts/base
---
<h1 class="text-3xl mb-4">Contact us</h1>

<p class="mb-4">
  Email us: <a class="underline text-blue" href="mailto:frontlinebish@gmail.com">frontlinebish@gmail.com</a>
</p>

<p>
  If you wish to make a complaint, please follow our
  <a href="{{ '/files/FLNC-ComplaintsProcedure.pdf' | url }}" class="underline">complaints procedure</a>.
</p>