---
layout: layouts/base
---
<h1 class="text-3xl mb-4">Contact us</h1>

<p class="mb-2">
  Email us: <a class="underline text-blue-900" href="mailto:frontlinebish@gmail.com">frontlinebish@gmail.com</a>
</p>