---
layout: layouts/base
---
<h1 class="text-2xl mb-3">Support us</h1>

<p class="mb-4">
  The Falklands Chaplains Project aims to benefit
  veterans, current serving personnel and future generations by recording
  some of the experiences of Royal Navy chaplains who served in the
  Falklands War, to illustrate the significant contribution they made under
  the pressure of active service in the face of the enemy.
</p>

<p class="mb-4">
  This unique body of experience, and the reflections of those involved, aims to
  stimulate reflection and healing among veterans, and to allow today’s
  Naval Service personnel to develop their own best practice in
  supporting the Royal Navy and Royal Marines in peacetime and in war
  today.
</p>

<p>
  You can help by:
</p>

<ul class="list-disc list-outside m-4 pl-4">
  <li>Hosting a display of material, like the one you have seen today.</li>
  <li>
    Donating to the costs involved:

    <ul class="list-disc list-outside m-2 pl-4">
      <li>
        £30 buys a set of audio playback equipment, ensuring that the audio highlights are accessible to all.
      </li>
      <li>
        £120 prints and frames a high quality portrait of a featured chaplain, providing a visual focus for individual reflection.
      </li>
      <li>
        £1000 covers a day-long interview, including photographs, audio recording and to production of audio transcripts.
      </li>
    </ul>
  </li>
  <li>
    UK tax-payers can donate using the gift-aid scheme, which allows
    us to reclaim an additional 25% on top of your generous gift.
  </li>
</ul>

<div class="flex justify-center">
  <a href="#" class="bg-blue-900 text-white py-2 px-4 rounded">Donate with JustGiving</a>
</div>