---
layout: layouts/base
---
<div class="flex flex-col mb-4 lg:flex-row">
  <div class="w-1/1 lg:w-1/4">
    <nav class="flex flex-col">
      <a href="{{ '/exhibition' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3 font-bold">Falklands Exhibition</a>
      <a href="{{ '/wartime-skills-covid-spills' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3">Wartime Skills v Covid Spills</a>
    </nav>
  </div>
  <div class="w-1/1 lg:w-3/4">
    <h1 class="text-3xl mb-4">Falklands Exhibition</h1>

    <p class="mb-4">Excerpt from the exhibition</p>

    <p class="m-10 text-xl italic text-center leading-relaxed">
      And that is very sad, that that whole
      operation, without loss of life until that time,
      and then this Argentinian sailor gets shot by
      misunderstanding. We buried him on South
      Georgia in the grave we dug, next to
      Shackleton’s grave, in the old whalers’
      cemetery there. It was a very moving
      occasion: it was an absolutely still day and the
      sailors turned out in full dress uniform; No. 1s.
    </p>

    <div class="text-center rounded-lg overflow-hidden w-full mx-auto">
      <img src="{{ '/img/exhibition-1.jpg' | url }}" class="object-cover w-full object-top lg:h-full" alt="Richard Sigrist in conversation about his experiences in The Falklands">
    </div>

    <p class="m-10 text-xl italic text-center leading-relaxed">
      I can remember that day like it was yesterday.
      I conducted the funeral; the Argentinian
      Captain gave a eulogy, in Spanish. Anyway,
      at the end of it all he threw his arms all round
      me, in tears, and said: “Well: what is all this
      about?” And it was very very moving. That
      grave is still there. It brought it home to us I
      think: the reality of it all.
    </p>
    <p class="italic text-center">– Richard Sigrist, Chaplain HMS ANTRIM</p>
  </div>
</div>