---
layout: layouts/base
---
<h1 class="text-3xl mb-4">Falklands Exhibition</h1>

<p class="mb-4">Excerpts from the exhibition</p>

<div class="flex mb-4">
  <div class="w-1/3">
    <img src="{{ '/img/exhibition-1.jpg' | url }}" class="rounded-sm shadow">
  </div>
  <div class="w-2/3">
    <p class="m-10 text-xl italic text-center leading-relaxed">
      And that is very sad, that that whole
      operation, without loss of life until that time,
      and then this Argentinian sailor gets shot by
      misunderstanding. We buried him on South
      Georgia in the grave we dug, next to
      Shackleton’s grave, in the old whalers’
      cemetery there. It was a very moving
      occasion: it was an absolutely still day and the
      sailors turned out in full dress uniform; No. 1s.
    </p>
    <p class="m-10 text-xl italic text-center leading-relaxed">
      I can remember that day like it was yesterday.
      I conducted the funeral; the Argentinian
      Captain gave a eulogy, in Spanish. Anyway,
      at the end of it all he threw his arms all round
      me, in tears, and said: “Well: what is all this
      about?” And it was very very moving. That
      grave is still there. It brought it home to us I
      think: the reality of it all.
    </p>
    <p class="italic text-center">– Richard Sigrist, Chaplain HMS ANTRIM</p>
  </div>
</div>