---
layout: layouts/base
---
<div class="flex mb-4">
  <div class="w-1/2 p-6">
    <h1 class="text-3xl mb-4">Falklands Chaplains Project</h1>
    <p class="text-xl">Preserving and sharing the experiences of Royal Navy Chaplains from the Falklands War.</p>
    <a href="{{ '/exhibition' | url }}" class="inline-block px-4 py-2 border rounded text-blue-900 border-blue-900 hover:border-transparent hover:text-white hover:bg-blue-900 mt-6">Preview the exhibition</a>
  </div>
  <div class="w-1/2">
    <img src="{{ '/img/home-feature.jpg' | url }}" class="rounded-sm shadow">
  </div>
</div>