---
layout: layouts/base
---
<div class="flex flex-col mb-4 lg:flex-row">
  <div class="w-1/1 order-2 lg:w-1/2 lg:order-1 lg:p-6">
    <h1 class="text-3xl mb-4">Falklands Chaplains Project</h1>
    <p class="text-xl">Preserving and sharing the experiences of Royal Navy Chaplains from the Falklands War.</p>
    <a href="{{ '/exhibition' | url }}" class="inline-block px-4 py-2 border rounded text-blue border-blue hover:border-transparent hover:text-white hover:bg-blue mt-6">Preview the exhibition</a>

    <h2 class="text-xl mt-8 mb-4">Latest news</h2>
    <p>
      Project: <a href="{{ '/wartime-skills-covid-spills' | url }}" class="underline">Wartime Skills v Covid Spills</a>
    </p>
    <p>
      Read the charity’s <a href="{{ '/files/FLNC-ImpactStatement2020.pdf' | url }}" class="underline" target="_blank">2020 Impact Statement</a>
    </p>
  </div>
  <div class="w-1/1 order-1 mb-4 lg:w-1/2 lg:order-2 lg:mb-0">
    <img src="{{ '/img/home-feature.jpg' | url }}" class="rounded-sm shadow">
  </div>
</div>