---
layout: layouts/base
---
<div class="flex flex-col mb-4 lg:flex-row">
  <div class="w-1/1 lg:w-1/4">
    <nav class="flex flex-col">
      <a href="{{ '/magazine' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3 font-bold">Magazine</a>
      <a href="{{ '/files/FLNC-ANRC-Subscribe.pdf' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3" download>Subscribe (PDF)</a>
      <a href="{{ '/magazine/submission-guidelines' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3">Submission Guidelines</a>
    </nav>
  </div>
  <div class="w-1/1 lg:w-3/4">

    <div class="flex flex-col mb-4 lg:flex-row">
      <div class="w-1/1 order-2 lg:w-1/2 lg:order-1 lg:pr-6">
        <h1 class="text-3xl mb-4">Magazine</h1>

        <p class="mb-4 text-xl italic">
          <b>Pennant</b> is our quarterly magazine, with a wide variety of news and historical articles. 
        </p>

        <p class="mb-4 text-xl">
          To begin receiving your copy please take out a free trial membership of the Association
          of Royal Naval Chaplains.
        </p>

        <p class="mb-4">
          Your free membership will run to the end of this year — and we hope you will want to
          continue as a member after that. The cost is £10 a year which we think it is a bargain!
          Please complete and return the fillable electronic membership form and set up a standing
          order with the the first payment on January 1 next year.  If you are unable to set up a
          standing order online please ask for a paper form.
        </p>
      </div>
      <div class="w-1/1 order-1 mb-4 lg:w-1/2 lg:order-2 lg:mb-0">
        <img src="{{ '/img/pennant.jpg' | url }}" class="rounded-sm shadow" alt="Cover of the first issue of Pennant, the Magazine of FLNC">
      </div>

    </div>
  </div>