---
layout: layouts/base
---
<div class="flex flex-col mb-4 lg:flex-row">
  <div class="w-1/1 lg:w-1/4">
    <nav class="flex flex-col">
      <a href="{{ '/pennant' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3 font-bold">Pennant</a>
      <a href="{{ 'https://fdd0c1a7.sibforms.com/serve/MUIFACUdlp1vwe2jiFQuzADclyLng8s7Xh2AGBCsjWYQpe-_bvjcxvu4yqWzx0ZyBZsxASWtgbdVgtETpu3K-GBCNJ77uWAqdRim5ISDpXFWD7mqHauWCzjitMnrHxngdYPgv4lP1IGXqbDCe56LqINIZ7TRyQszlhfhl6OI9wPOS098kGPFVl8_083385nL1LYNZuKKSeVa4tJk' }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3" target="_blank">Subscribe</a>
      <a href="{{ '/pennant/submission-guidelines' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3">Submission Guidelines</a>
    </nav>
  </div>
  <div class="w-1/1 lg:w-3/4">

    <div class="flex flex-col mb-4 lg:flex-row">
      <div class="w-1/1 order-2 lg:w-1/2 lg:order-1 lg:pr-6">
        <h1 class="text-3xl mb-4">Pennant</h1>

        <p class="mb-4 text-xl italic">
          A must-read for anyone interested in Royal Navy Chaplaincy, or in maritime or military ministry in general.
        </p>

        <p class="mb-4">
          To stay informed and gain deeper insight into the ministry, we invite you to explore Pennant, Front Line Naval
          Chaplains’ regular newsletter. Pennant offers reflections on life and service at sea, updates from chaplains
          and articles covering historical and current practice from a practical theology and social science
          perspective; alongside stories of faith, resilience, and pastoral care in the Royal Navy.
        </p>

        <p class="mb-4">
          You can <a href="https://fdd0c1a7.sibforms.com/serve/MUIFACUdlp1vwe2jiFQuzADclyLng8s7Xh2AGBCsjWYQpe-_bvjcxvu4yqWzx0ZyBZsxASWtgbdVgtETpu3K-GBCNJ77uWAqdRim5ISDpXFWD7mqHauWCzjitMnrHxngdYPgv4lP1IGXqbDCe56LqINIZ7TRyQszlhfhl6OI9wPOS098kGPFVl8_083385nL1LYNZuKKSeVa4tJk" class="underline" target="_blank">subscribe to Pennant</a> or, if you’d prefer, receive a <a href="https://sibforms.com/serve/MUIFAPiwHDeC7u-8uulZgLxPcW-n0lSGkeEcY1yvC62HqYIpgW05aC204X9ewewrC9QKVrMMUoX20RnCmmo_C3CnRQPmHLkX9rJinqvn2Yxv44OG8ZeYqJ7ZdnuMM49TKEJ_td1psHF3b_BESqhVdDwV5R_Mg7fjmbH5gS-1T79GAyUGnsezQn99VJoOYEVMxOOfBvCncw1JK0yf" class="underline" target="_blank">one-off sample edition</a>
          to get a sense of what it offers.
        </p>

        <p class="mb-4">
          We hope you will want to join our international readership in enjoying this glimpse into the unique and rewarding world of Naval Chaplaincy.
        </p>

      </div>
      <div class="w-1/1 order-1 mb-4 lg:w-1/2 lg:order-2 lg:mb-0">
        <img src="{{ '/img/pennant-screenshot.png' | url }}" class="rounded-sm shadow-md" alt="Example of Pennant Magazine">
      </div>
    </div>
  </div>
