---
layout: layouts/base
---
<div class="flex flex-col mb-4 lg:flex-row">
  <div class="w-1/1 lg:w-1/4">
    <nav class="flex flex-col">
      <a href="{{ '/exhibition' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3">Falklands Exhibition</a>
      <a href="{{ '/wartime-skills-covid-spills' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3 font-bold">Wartime Skills v Covid Spills</a>
    </nav>
  </div>
  <div class="w-1/1 lg:w-3/4">
    <h1 class="text-3xl mb-4">Wartime Skills v Covid Spills</h1>

    <h2 class="text-xl mb-4">Project summary</h2>
    <p class="mb-4">
      This project was designed to serve Royal Navy veterans within Devon, and in particular the
      vulnerable and older Royal Navy veterans as those whose mental health is most at risk due
      to the Covid-19 restrictions.  The aim was to enable and empower veterans to use the skills
      developed during operational service to address the challenges of lockdown.  The project
      achieved significant reach, with well over a thousand people, the majority of whom were
      veterans, engaging with the dedicated Facebook page.
    </p>

    <h2 class="text-xl mb-4">Activity</h2>
    <p class="mb-4">
      The project was run by a local facilitator, in conjunction with one of the charity’s trustees.
      The selected facilitator is a skilled and empathetic listener from a Naval family background
      and currently in the final stages of a counselling qualification.
    </p>
    <p class="mb-4">
      The facilitator’s activity included:
    </p>
    <ul class="list-disc list-outside m-4 pl-4">
      <li>
        undertaking two interviews with chaplain veterans to gather “seedcorn” material demonstrating and illustrating techniques and resources to develop and sustain mental health and wellbeing resilience; 
      </li>
      <li>
        analysis and transcription of the interviews; 
      </li>
      <li>
        analysis of existing interview transcripts from material the charity has gathered previously;
      </li>
      <li>
        condensing the material into short summaries which could be linked to appropriate photographs to stimulate interest and engagement in afternoon “skills” posts; researching veterans and general support organisations to publicise in morning “resource organisations” posts.    
      </li>
      <li>
        writing/emailing local veterans organisations to introduce the project before launch and again at launch.
      </li>
    </ul>
    <p class="mb-4">
      The involved trustee then:
    </p>
    <ul class="list-disc list-outside m-4 pl-4">
      <li>
        set up the material using open source photographs as appropriate, and queued the posts so that they appeared regularly morning and evening throughout the two months of the project: 10 March (first daily pre-launch post) to 15 March (launch) to 17 May (final post).
      </li>
    </ul>
    <p class="mb-4">
      The dedicated Facebook page “Wartime Skills v Covid Spills” (see below); publicised through the distributed material and a targeted Facebook promotion; therefore provided
    </p>
    <ul class="list-disc list-outside m-4 pl-4">
      <li>
        Access to the “hints and tips” material.
      </li>
      <li>
        A virtual community space for mutual sharing, learning and support.
      </li>
      <li>
        Opportunities to signpost to other supportive organisations.
      </li>
    </ul>
    <p class="mb-4">
      Although the Facebook Promotion was targeted at Naval Service veterans within the South West, responses came from across England and Wales, and extended into Scotland.  There was no discernible engagement within Northern Ireland or outside the UK.  Use was made of a Facebook consultant (whose services were provided free of charge to the charity): as part of the promotion Facebook offered a significant subsidy which allowed us to more than double the page promotion at no additional cost.  
    </p>

    <h2 class="text-xl mb-4">User contributed material</h2>
    <p class="mb-4">
      Although the quantity of user-contributed material was not as great as we would have hoped for there some really excellent ideas were posted by veterans, and these were used to generate subsequent posts on the page.
    </p>

    <h2 class="text-xl mb-4">Engagement metrics</h2>
    <ul class="list-disc list-outside m-4 pl-4">
      <li>
        62,740 total impressions (number of times the posts were seen).
      </li>
      <li>
        53,279 total reach (individual users who saw at least one post).
      </li>
      <li>
        1,234 engaged users (people who responded in some way to a post/posts).
      </li>
      <li>
        120 page likes.
      </li>
      <li>
        3 negative feedback.
      </li>
    </ul>

    <h2 class="text-xl mb-4">Qualitative impact</h2>
    <p class="mb-4">
      User feedback was positive, and although levels of fully interactive engagement were lower than hoped for some excellent user-suggested material was able to be included; including the “medals” meme and “On the bus, off the bus” (see the representative sample of the posts below).  Comments received were generally assurances that people were handling lockdown well and not concerned for their mental health: messages such as an “I’m good thanks” or even just a simple “thumbs up” sign allowing users to reassure themselves, as well as others, that they were handling the pressures of lockdown well.  
    </p>
    <p>
      In terms of internal review there was no shortage of material to illustrate the use of military skills to handle the stresses of a long lockdown, and it was felt that the graphic design quality of the posts was steadily improved as the team grew in skills and experience.
    </p>

    <h2 class="text-xl mb-4">Impact summary</h2>
    <p class="mb-4">
      The cross-application of skills learned during Naval service into self-reflection and personal development is a valuable resource for veterans; and it may need only a minimal nudge to allow people to access those skills, enabling them to understand others and themselves better, and more successfully to navigate the stresses and pressures induced by the restrictions introduced in response to Covid-19; or indeed by other stressful life-situations.
    </p>

    <h2 class="text-xl mb-4">Project closure and archive process</h2>
    <p class="mb-4">
      The page has been frozen; it will shortly be deleted once a representative sample of the content has been preserved in the charity’s archives.  It is intended that highlights are copied to the charity's website.
    </p>

    <h2 class="text-xl mb-4">Initial lessons identified</h2>
    <p class="mb-4">
      The main initial LI relate to limitations of the Facebook page system: whilst in theory admin interactions with the page will or can appear to other users as authored by the page; in practice this is not always the case; and it is never easy for the page admin to know if they are interacting with the page as their personal ID or as the page ID.  This compromises admin anonymity.  However, with approximately 50% penetration amongst the Veteran demographic FB represents the largest pool of potential users of a project such as this.
    </p>

    <h2 class="text-xl mb-4">Thank you!</h2>
    <p class="mb-4">
      On behalf of the trustees; and of the Royal Navy and Royal Marines veterans in the South West and elsewhere who benefitted by this project I would like to express our heartfelt thanks to the Royal Navy and Royal Marines Charity for their generous support which enabled this project to take place.
    </p>
  </div>
</div>