---
layout: layouts/base
---
<div class="flex flex-col mb-4 lg:flex-row">
  <div class="w-1/1 lg:w-1/4">
    <nav class="flex flex-col">
      <a href="{{ '/magazine' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3">Magazine</a>
      <a href="{{ '/files/FLNC-ANRC-Subscribe.pdf' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3" download>Subscribe (PDF)</a>
      <a href="{{ '/magazine/documents' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3 font-bold">Documents</a>
      <a href="{{ '/magazine/submission-guidelines' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3">Submission Guidelines</a>
    </nav>
  </div>
  <div class="w-1/1 lg:w-3/4">
    <h1 class="text-3xl mb-4">Documents</h1>

    <h2 class="text-xl mb-4">Issue #1 — Easter 2022</h2>

    <ul class="list-disc list-outside m-4 pl-4">
      <li>
        <a href="{{ '/files/FLNC-Pennant-1-Beatty.pdf' | url }}" class="underline" download>A letter from Admiral Beatty - July 1917 (PDF)</a>
      </li>
    </ul>
  </div>
</div>