---
layout: layouts/base
---
<div class="flex flex-col mb-4 lg:flex-row">
  <div class="w-1/1 lg:w-1/4">
    <nav class="flex flex-col">
      <a href="{{ '/magazine' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3">Magazine</a>
      <a href="{{ '/files/FLNC-ANRC-Subscribe.pdf' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3" download>Subscribe (PDF)</a>
      <a href="{{ '/magazine/documents' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3">Documents</a>
      <a href="{{ '/magazine/submission-guidelines' | url }}" class="border-l-solid border-l-4 border-l-gray-600 mb-4 pl-3 font-bold">Submission Guidelines</a>
    </nav>
  </div>
  <div class="w-1/1 lg:w-3/4">
    <h1 class="text-3xl mb-4">Articles and news for Pennant: Submission Guidelines</h1>

    <p class="mb-4">
      Interesting and well written articles which will inform, challenge educate or amuse are always welcome for Pennant magazine.
    </p>

    <p class="mb-4">
      Could you write up news of your new ministry, or a reflection on a seminal moment during your time in the Royal Navy?  What are your thoughts on how civilian ministry prepares clergy to become RN chaplains, or how easy it is for former chaplains to readjust to civilian ministry?  Has being a Chaplain made you a better minister: perhaps a time when a lesson learned whilst serving with the RN or RM has enabled you to deal effectively with a tricky pastoral situation?
    </p>

    <p class="mb-4">
      Pennant, the magazine of Front Line Naval Chaplains (and incorporating the Association Royal Naval Chaplains newsletter Chaplains Chatter) promotes effective chaplaincy by connecting past and present chaplains and their families, along with others interested in this ministry.  As well as items of news about our members we encourage a wide range of articles reflecting both seagoing and land based experiences, and including historical, personal and theological reflections which would be of interest to us all.  For example, in the April 2022 Pennant two New-Entry Chaplains describe their journey to Naval Chaplaincy; a look into the archives to examine Admiral Beatty’s 1917 proposal for Naval chaplains to wear uniform, and a review of the Revd Mike Wishart’s new book “Onward Christian Sailors” … and more.
    </p>

    <p class="mb-4">
      Articles are typically between 500 and 1000 words, and are usefully accompanied by one passport style photograph of the author and at least one other photograph to illustrate the article.  In the case of significantly longer articles please include a 500 word summary or introduction: we may then print only this in Pennant, along with a link to the full article which we will host on the Front Line Naval Chaplains website flnc.org.uk.  Shorter items of news (clergy moves etc) can also be included.
    </p>

    <p class="mb-4">
      Articles and notices should be submitted in Word or similar format (.docx; .odt; .rtf etc) with minimal formatting.  Photographs can be in any format, but should be of as high quality as possible.  Please note that we cannot guarantee acceptance, and we must reserve the right to edit articles for length.  In the case of longer articles for the website please submit fully formatted as .docx or .odt with embedded fonts.  You retain the copyright in anything you write, but by submitting it you give us the right to reproduce it in the magazine and on our website.
    </p>

    <p class="mb-4">
      Please send contributions to <a href="mailto:frontlinebish@gmail.com" class="underline">frontlinebish@gmail.com</a>.
    </p>

    <p class="mb-4">
      Normal deadlines are 1 Sept, 1 December, 1 March and 1 June; with publication some 6 weeks after the article deadline. 
    </p>
  </div>
</div>