---
title: Front Line Naval Chaplains
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="container max-w-5xl md:mx-auto lg:mt-8">
      <nav class="flex items-center justify-between flex-wrap bg-navy p-6 rounded-sm mb-6">
        <div class="flex items-center flex-shrink-0 text-white mr-10">
          <a href="{{ '/' }}" class="logo">
            <img src="{{ '/img/logo-white.svg' | url }}" alt="Front Line Naval Chaplains"/>
          </a>
        </div>
        <div class="block lg:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-white border-white hover:text-blue-100 hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="text-base lg:flex-grow">
            <a href="{{ '/' }}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-blue-100 mr-4">
              Home
            </a>
            <a href="{{ '/about' }}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-blue-100 mr-4">
              About the charity
            </a>
            <a href="{{ '/exhibition' }}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-blue-100 mr-4">
              Falklands exhibition
            </a>
            <a href="{{ '/contact' }}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-blue-100">
              Contact us
            </a>
          </div>
          <div>
            <a href="{{ '/donate' | url }}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-900 hover:bg-white mt-4 lg:mt-0">
              Donate
            </a>
          </div>
        </div>
      </nav>

      {{ content | safe }}

      <footer class="mt-12 mb-6 p-4 bg-gray-200 text-sm text-center rounded-sm">
        Front Line Naval Chaplains is a registered charity, no. 1187195
      </footer>
    </div>
  </body>
</html>