---
title: Front Line Naval Chaplains
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/tailwind.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="container max-w-5xl md:mx-auto lg:mt-8">
      <nav class="flex items-center justify-between flex-wrap bg-navy p-6 rounded-sm">
        <div class="flex items-center flex-shrink-0 text-white mr-10">
          <a href="{{ '/' }}" class="logo">
            <img src="{{ '/img/logo-white.svg' | url }}" alt="Front Line Naval Chaplains"/>
          </a>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="text-base lg:flex-grow">
            <a href="{{ '/' }}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4">
              Home
            </a>
            <a href="{{ '/about' }}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4">
              About the charity
            </a>
            <a href="{{ '/magazine' }}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4">
              Magazine
            </a>
            <a href="{{ '/exhibition' }}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4">
              Projects & Exhibitions
            </a>
            <a href="{{ '/arnc' }}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4">
              ARNC
            </a>
            <a href="{{ '/contact' }}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white">
              Contact us
            </a>
          </div>
          <div>
            <a href="{{ '/donate' | url }}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue hover:bg-white mt-4 lg:mt-0">
              Donate
            </a>
          </div>
        </div>
      </nav>

      <div class="block p-4 lg:p-0 lg:pt-6">
        {{ content | safe }}
      </div>

      <footer class="mt-4 lg:mt-12 lg:mb-6 p-4 bg-gray-200 text-sm text-center rounded-sm">
        Front Line Naval Chaplains is a registered charity, no. 1187195 | <a href="{{ '/files/FLNC-PrivacyDataProtection.pdf' | url }}" class="underline">Privacy & Data Protection Policy</a>
      </footer>
    </div>
  </body>
</html>